<div class="adminquanlydoanhthu">
{{!-- Admin --}}
            {{>menubar}}
        <div class="home-header-main">
                {{>header}}
            <div class="main-home">
                <div class="title_chucnang">
                    <i class='fa fa-area-chart'></i>
                    <p>Quản lý doanh thu</p>
                </div>
                <div class="line" ></div>
                <div class="btn_doanhthu">
                    <span >Chọn loại thống kê doanh thu: </span>
                    <a href="/quanly/quanlydoanhthu/1" {{#ifCond type '==' 1}}  class="active"{{/ifCond}}>Hôm nay</a>
                    <a href="/quanly/quanlydoanhthu/2" {{#ifCond type '=='2}}  class="active"{{/ifCond}}>Tháng {{thang}}</a>
                    <a href="/quanly/quanlydoanhthu/3"{{#ifCond type '==' 3}}  class="active"{{/ifCond}}>Tất cả</a>
                </div>
                <div id="menu1" class="container tab-pane active div-table-list"><br />
                    <form action="">
                        <div class="card mb-4">
                            <div class="card-header" style="color: #296088;font-weight: 600;display: flex;flex-direction: row; justify-content: space-between;">
                                Bảng hiển thị danh sách bình luận
                                <div class="tong_danhthu">
                                    Tổng: <span style="font-style: italic;">{{{changeNumber sumMoney}}} đ</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã hoá đơn</th>
                                            <th>Tổng sản phẩm bán</th>
                                            <th>Tổng tiền (đ)</th>
                                            <th>Phương thức thanh toán</th>
                                            <th>Ngày giờ thanh toán</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {{#each array}}
                                        <tr>
                                            <td>{{sum @index 1}}</td>
                                            <td>{{this.idOrderDetail}}</td>
                                            <td>{{this.totalQuality}}</td>
                                            <td style="color: #3871C1; font-weight: 600;font-style: italic;">{{{changeNumber this.totalMoney}}}</td>
                                            <td>{{this.paymentType}}</td>
                                            <td>{{{getTime this.time}}} {{{changeNgay this.time}}}</td>
                                            <td style="color:green;">{{#ifCond this.status '==' 1}} Đã thanh toán{{/ifCond}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
 </div>
        
        
