<div class="adminthongkesanpham">
{{!-- Admin --}}
            {{>menubar}}
        <div class="home-header-main">
                {{>header}}
            <div class="main-home">
                <div class="title_chucnang">
                    <i class='fa fa-bar-chart'></i>
                    <p>Thống kê sản phẩm</p>
                </div>
                <div class="line" ></div>
                {{!-- <div class="btn_doanhthu">
                    <span >Chọn loại thống kê doanh thu: </span>
                    <a href="/quanly/quanlydoanhthu/1" {{#ifCond type '==' 1}}  class="active"{{/ifCond}}>Hôm nay</a>
                    <a href="/quanly/quanlydoanhthu/2" {{#ifCond type '=='2}}  class="active"{{/ifCond}}>Tháng {{thang}}</a>
                    <a href="/quanly/quanlydoanhthu/3"{{#ifCond type '==' 3}}  class="active"{{/ifCond}}>Tất cả</a>
                </div> --}}
                <div id="menu1" class="container tab-pane active div-table-list"><br />
                    <form action="">
                        <div class="card mb-4">
                            <div class="card-header" style="color: #296088;font-weight: 600;display: flex;flex-direction: row; justify-content: space-between;font-size:22px">
                                Top 5 sản phẩm bán chạy nhất
                                {{!-- <div class="tong_danhthu">
                                    Tổng: <span style="font-style: italic;">{{{changeNumber sumMoney}}} đ</span>
                                </div> --}}
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Hình ảnh</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá bán</th>
                                            <th>Số lượng đã bán</th>
                                            <th>Thương hiệu</th>
                                            <th>Nơi sản xuất</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {{#each array}}
                                        <tr>
                                            <td>{{sum @index 1}}</td>
                                            <td><img src={{this.imageList}}
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; border: 1px solid #cccccc;"></td>
                                            <td>{{this.idProduct}}</td>
                                            <td>{{this.name}}</td>
                                            <td>{{{changeNumber this.salePrice}}}</td>
                                            <td style="color: #3871C1; font-weight: 600;font-style: italic;">{{this.sold}}</td>
                                            <td>{{this.trademark}}</td>
                                            <td>{{this.origin}}</td>
                                            <td style="color:green;">{{#ifCond this.status '==' 1}} Đang hoạt động{{/ifCond}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
 </div>
        
        
