<div class="adminquanlynhanvien">
{{!-- Admin --}}
            {{>menubar}}
        <div class="home-header-main">
                {{>header}}
            <div class="main-home">
                <div class="title_chucnang">
                    <i class='fa fa-drivers-license-o'></i>
                    <p>Quản lý nhân viên</p>
                </div>
                <div class="line" ></div>
                <div class="div_btn">
                    <a class="btn" href="/quanly/home"><i class="fa fa-plus" aria-hidden="true"></i>THÊM NHÂN VIÊN</a>
                </div>
                <div id="menu1" class="container tab-pane active div-table-list"><br />
                    <form action="">
                        <div class="card mb-4">
                            <div class="card-body">
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã nhân viên</th>
                                            <th>Tên nhân viên</th>
                                            <th>Ngày sinh</th>
                                            <th>Giới tính</th>
                                            <th>SĐT</th>
                                            <th>Email</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {{#each array}}
                                        <tr>
                                            <td>{{sum @index 1}}</td>
                                            <td>{{this.idEmployee}}</td>
                                            <td>{{this.name}}</td>
                                            <td>{{this.dateOfBirth}}</td>
                                            <td>{{this.gender}}</td>
                                            <td>{{this.phoneNumber}}</td>
                                            <td>{{this.email}}</td>
                                            <td>{{#ifCond this.status '==' 0}} Tạm ngưng  {{else}} Hoạt động  {{/ifCond}}</td>
                                            <td>
                                                <a href="/admin/xoachuyenvien/{{this.idUserTempCV}}" onclick="return confirm ('Xoá chuyên viên {{this.name}} ?')" class="btn btn-danger">Xóa</a>
                                                
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
 </div>
        
        
