<div class=" row dangkylichranh">
        <div class="col-sm-2">
            {{>menubar}}
        </div>
        <div class="col-sm-10">
            <div>
                {{>header}}
            </div>
            <div class="main-home ">
                <div class="container mt-3">
                    <h3>Quản Lý Lịch Khám Của Bác Sĩ</h3>
                    <div class="line" ></div>
                    <br/>
                    <div class="thong-tin-ca-nhan row">
                        <div class="nav anh-bac-si col col-lg-3">
                            <img src={{data.anh}} 
                            alt="ảnh thẻ sinh viên" class="img-reponsive">
                            <div class="rol">
                                <div class="form-group">
                                <div class="control-label">
                                    <b>{{data.hochamhocvi}}: {{data.hoten}}</b>
                                </div>
                                </div>
                                <div class="form-group">
                                <div class="control-label">
                                    <span lang="thongtinsinhvien-mssv">Mã Bác sĩ</span>:
                                    <b>{{data.mabacsi}}</b>
                                </div>
                                </div>
                                
                                <div class="form-group">
                                <div class="control-label">
                                    <span lang="thongtinsinhvien-gioitinh">Giới tính</span>:
                                    <b>{{data.gioitinh}}</b>
                                </div>
                                <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="text-title">
                                <p>
                                Thông tin Bác Sĩ
                                </p>
                                <hr style="width:100%;color:#cccccc" />
                            </div>
                            <div class="main-thong-tin">
                                <div class="col-md-12">
                                <form class="form-horizontal">
                                    <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-6"><span lang="thongtinbáci-trangthai">Email</span>:
                                        <span class="bold"> {{data.email}} </span></label>
                                        <label class=""><span lang="thongtinbáci-ngayvaotruong">Ngày sinh</span>:
                                        <span class="bold">{{data.ngaysinh}}</span></label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6"><span lang="thongtinbáci-lophoc">Số điện thoại</span>:
                                        <span class="bold">{{data.sodienthoai}}</span></label>
                                       <label class=""><span lang="thongtinbáci-bacdaotao">Chuyên khoa</span>:
                                        <span class="bold">{{data.chuyenkhoa}}</span></label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6"><span lang="thongtinbáci-loaidaotao">Chức vụ</span>:
                                        <span class="bold">{{data.chucvu}}</span></label>
                                         <label class=""><span lang="thongtinbáci-chuyennganh">Kinh nghiệm</span>:
                                        <span class="bold">{{data.kinhnghiem}}</span></label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-6"><span lang="thongtinbáci-nganh">Trạng thái</span>:
                                        <span class="bold">{{data.trangthaikham}} </span></label>
                                         <label class=""><span lang="thongtinbacsi-khoahoc">Đơn giá</span>:
                                        <span class="bold">{{data.dongia}} VNĐ</span></label>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-12"><span lang="thongtinbáci-coso">Địa chỉ khám</span>:
                                        <span class="bold">{{data.diachiphongkham}}</span></label>
                                    </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="tab-content-dangky"><br />
                        <div class="row" style="margin-left: 0px;">
                            <div class="title-line"></div>
                            <h5>Đăng ký lịch khám</h5>
                        </div>
                        <form action="/dangkylichranh/{{data.mabacsi}}/themlichkham" method="post"  style="margin-top: 10px;">
                            <div class="row">
                                 <input type="hidden" name="mabacsi"  value="{{data.mabacsi}}" class="form-control">
                                 <input type="hidden" name="dongia"  value="{{data.dongia}}" class="form-control">
                                 <input type="hidden" name="hotenbacsi"  value="{{data.hoten}}" class="form-control">
                                 <input type="hidden" name="diachiphongkham"  value="{{data.diachiphongkham}}" class="form-control">
                                 <input type="hidden" name="trangthai"  value="Chờ bệnh nhân đăng ký" class="form-control">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="sel1">Ngày khám: </label>
                                        <input type="date" name="ngaykham"  value="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="sel1">Giờ khám:</label>
                                        <select class="form-control" id="ChonGioKham" name="giokham">
                                            <option value="7h - 9h">7h - 9h</option>
                                            <option value="9h - 11h">9h - 11h</option>
                                            <option value="11h - 13h">11h - 13h</option>
                                            <option value="13h - 15h">13h - 15h</option>
                                            <option value="15h - 17h">15h - 17h</option>
                                            <option value="17h - 19h">17h - 19h</option>
                                            <option value="19h - 21h">19h - 21h</option>
                                            <option value="21h - 23h">21h - 23h</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-lg-12" style="display: flex; justify-content: center; height: 45px;">
                                    <button type="submit" onclick="ThemLichRanh(this);" 
                                        class="btn btn-primary">ĐĂNG KÝ   </button>
                                </div>
                          
                            </div>
                        </form>
                    </div> --}}

                    <div class="tab-content-lichdadangky"><br />
                        <div class="row" style="margin-left: 0px;">
                            <div class="title-line"></div>
                            <h5>Danh sách lịch khám đã đăng ký</h5>
                        </div>
                        <div class="" style="margin-top: 10px;">
                            <table class="table table-bordered" id="table_id" >
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Ngày khám</th>
                                        <th>Giờ khám</th>
                                        <th>Trạng thái</th>
                                        <th>Họ tên bệnh nhân</th>
                                        <th>Thao Tác</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                    {{#each lichs}}
                                    <tr>
                                        <td>{{sum @index 1}}</td>
                                        <td>{{this.ngaykham}}</td>
                                        <td>{{this.giokham}}</td>
                                        <td>{{this.trangthai}}</td>
                                        <td>{{this.hotenbenhnhan}}</td>
                                    {{!-- if({{this.trangthai}} == 'Chờ bệnh nhân đăng ký'){ --}}
                                        <td>
                                            <a href="/quanly-lophp/delete?MaLopHP={{this.MaLopHP}}" onclick="return confirm ('Xoá lớp học phần {{this.TenMonHoc}} ( {{this.TenLopHP}} ) ?')" class="btn btn-danger">Huỷ</a>
                                             <a href="#" class="btn btn-success">Chấp nhận</a>
                                        </td>
                                    {{!-- } --}}
                                        
                                    </tr>
                                    
                                     {{/each}}
                                </tbody>
                           
                            </table>
                        </div>
                    </div>

                    
                    
                </div>
            </div>
        </div>
 </div>
        
<script>
     function ThemLichRanh() {
           console.log('====mabacsi====');
            
        }
</script>        
