<div class="giohangkh">
    {{>headerkh}}
    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/banner-header.jpeg' 
        alt="banner" class="img-reponsive" style="height: 75px;  width: 100%; margin-top:120px">
        
     <div class="main-home">
        <div class="main">
            <div class="map">
                <a>LenPharmacy</a>
                <i class="fa fa-angle-right dot" aria-hidden="true"></i>
                <a style="color: #112950;">Giỏ hàng</a>
            </div>
            <div class="main-body">
                <div class="main_left">
                    <div class="title">
                        <span>Giỏ hàng</span>     
                        <a>Xoá tất cả giỏ hàng</a>
                    </div>
                    <div class="header_list">
                        <div class="sanpham">
                             <span>Sản phẩm</span> 
                        </div>
                        <div class="dongia">
                            <span>Đơn giá</span> 
                        </div>
                         <div class="soluong">
                            <span>Số lượng</span> 
                        </div>
                        <div class="thanhtien">
                            <span>Thành tiền</span> 
                        </div>
                        <div class="xoa"></div>
                    </div>

                    <div class="body_list">
                         {{#each array}}
                            <div class="item_list">
                                <div class="anh">
                                    <img src={{this.imageList}} 
                                    alt="banner" class="img-reponsive image" style="height: 50px;width: 50px;">
                                </div>
                                <div class="ten">
                                    <span>{{this.name}} </span> 
                                </div>
                                <div class="dongia">
                                    <span>{{changeNumber this.salePrice}} đ</span> 
                                </div>
                                <div class="soluong">
                                    <div class="buttons_added">
                                        <input class="minus is-form" type="button" value="-">
                                        <input aria-label="quantity" class="input-qty" max={{this.quality}} min="1" name="" type="number" value={{this.qualityCart}}>
                                        <input class="plus is-form" type="button" value="+">
                                    </div>
                                </div>
                                <div class="thanhtien">
                                    <span>{{{sumCart this.salePrice this.qualityCart}}} đ</span> 
                                </div>
                                <div class="xoa">
                                    <a class="btnDelete">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 20px;"></i>
                                    </a>
                                </div>
                            </div>
                         {{/each}}
                    </div>
                </div>

                <div class="main_right">
                     <span class="name">Tổng tiền</span>
                     <div class="tamtinh">
                        <span>Tạm tính</span>     
                        <span class="sum">{{{changeNumber sumPrice }}} đ</span>
                    </div>
                    <div class="div_btn">
                        <div class="btnMuaThem">
                            <a  href="/home" style="text-decoration: none;color:#0F62F9">Mua thêm </a>
                        </div>
                        <div class="btnDatHang">
                            <a class="" href="/thanhtoan" style="text-decoration: none;color:white">Đặt hàng<i class='fa fa-angle-right dot' style="margin-left:5px; font-size:20px"></i> </a>
                        </div>
                    </div>
                </div>

                <div class='Error'>
                    {{#if messages.error}}
                        <input id="success-faild-add" value="success-faild-add" type="hidden" >
                        </input>
                    {{/if}}
                </div>
                 
            </div>
            
        </div>
        <div class="footer">
            <div class="item_footer">
                 <span class="title">Hỗ trợ khách hàng</span>
                 <span class="item">Hotline: 1900-6821</span>
                 <span class="item">Các câu hỏi thường gặp</span>
                 <span class="item">Gửi yêu cầu hỗ trợ</span>
                 <span class="item">Phương thức vận chuyển</span>
                 <span class="item">Chính sách đổi trả</span>
                 <span class="item">Chính sách hàng nhập khẩu</span>
                 <span class="item">Gửi yêu cầu hỗ trợ</span>
            </div>
             <div class="item_footer">
                 <span class="title">Về LenPharmacy </span>
                 <span class="item">Giới thiệu LenPharmacy</span>
                 <span class="item">LenPharmacy Blog</span>
                 <span class="item">Tuyển dụng</span>
                 <span class="item">Chính sách bảo mật thanh toán</span>
                 <span class="item">Chính sách bảo mật thông tin cá nhân</span>
                 <span class="item">Chính sách giải quyết khiếu nại</span>
                 <span class="item">Điều khoản sử dụng</span>
                 <span class="item">Tiếp thị liên kết cùng LenPharmacy</span>
                 <span class="item">Điều kiện vận chuyển</span>
            </div>
             <div class="item_footer" style=" width: 23%; margin-left:20px">
                 <span class="title">Phương thức thanh toán</span>

                 <div class="thanhtoan">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/visa.png' 
                        alt="banner" class="img-reponsive" style="height: 20px;  width: 40px; margin-right:20px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/master.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 40px; margin-right:20px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/jcb.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 40px; margin-right:20px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/atm.png' 
                        alt="banner" class="img-reponsive" style="height: 25px;  width: 40px; margin-right:20px">
                 </div>

                <div class="thanhtoan">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/viettel.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:25px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/momo.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 35px; margin-right:20px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/zalopay.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 35px; margin-right:25px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/tienmat.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 40px; margin-right:20px">
                 </div>
                 

            </div>
             <div class="item_footer">
                 <span class="title">Kết nối với chúng tôi</span>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/facebook.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Facebook</span>
                </div>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/youtube.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Youtube</span>
                </div>
                   <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/zalo.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Zalo</span>
                </div>
            </div>

        </div>
        <div class="footer_address">
            <span class="title">Công Ty Cổ Phần Dược Phẩm LenPharmacy</span>

            <span class="">Trụ sở: 12 Nguyễn Văn Bảo, P.4, Q.Gò Vấp, TP.Hồ Chí Minh.</span>
            <span class="title">Điện thoại: 1800 6821. Email:cskh@lenpharmacity.vn</span>

            <span class="">GPDKKD: 0311770883</span>
            <span class="title">do sở KH & ĐT TP.HCM cấp lần đầu ngày 05/05/2012, đăng ký thay đổi lần thứ: 49, ngày 20/01/2018.</span>

        </div>



        
    </div>
        
 </div>
        
        
<script>
    $('input.input-qty').each(function() {
  var $this = $(this),
    qty = $this.parent().find('.is-form'),
    min = Number($this.attr('min')),
    max = Number($this.attr('max'))
  if (min == 0) {
    var d = 0
  } else d = min
  $(qty).on('click', function() {
    if ($(this).hasClass('minus')) {
      if (d > min) d += -1
    } else if ($(this).hasClass('plus')) {
      var x = Number($this.val()) + 1
      if (x <= max) d += 1
    }
    $this.attr('value', d).val(d)
  })
})
</script>



<script>
$(document).ready(function () { myFunction(); });
function myFunction() {
    if(document.getElementById("success-faild-add").value){
        customAlertFaild.alert("Hãy liên hệ Bác Sĩ để được tư vấn thêm!",'Bạn đã thêm quá số lượng thuốc quy định!')
    }
    
} 
function CustomAlertFaild(){
  this.alert = function(message,title){
    document.body.innerHTML = document.body.innerHTML + '<div id="dialogoverlay"></div><div id="dialogboxfail" class="slit-in-vertical"><div><div id="dialogboxhead"></div><div id="dialogboxbody"></div><div id="dialogboxfoot"></div></div></div>';

    let dialogoverlay = document.getElementById('dialogoverlay');
    let dialogbox = document.getElementById('dialogboxfail');
    
    let winH = window.innerHeight;
    dialogoverlay.style.height = winH+"px";
    
    dialogbox.style.top = "100px";

    dialogoverlay.style.display = "block";
    dialogbox.style.display = "block";
    
    document.getElementById('dialogboxhead').style.display = 'block';

    if(typeof title === 'undefined') {
      document.getElementById('dialogboxhead').style.display = 'none';
    } else {
      document.getElementById('dialogboxhead').innerHTML = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i> '+ title;
    }
    document.getElementById('dialogboxbody').innerHTML = message;
    {{!-- document.getElementById('dialogboxfoot').innerHTML = '<button class="pure-material-button-contained active" onclick="customAlert.ok()">OK</button>'; --}}
  }
  
  this.ok = function(){
    document.getElementById('dialogboxfail').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
  }

  setTimeout(function() {  
    document.getElementById('dialogboxfail').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
    }, 3000);
}

let customAlertFaild = new CustomAlertFaild();
</script>
