<div class="homekh">
    {{>headerkh}}
    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/banner-header.jpeg' 
        alt="banner" class="img-reponsive" style="height: 75px;  width: 100%; margin-top:120px">
        
     <div class="main-home">
        <div class="main">
            <div class="danhmuc_left">
                <div class="name">Danh mục</div>
                <div class="line"></div>

                {{#each danhmuc}}
                    <a class="item_danhmuc" href='/sanpham/{{this.idCategory}}'>
                       {{this.name}}
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                {{/each}}
            </div>
            <div class="main-body">
                
                {{#each array}}
                   <a class="item_sanpham" href='/chitietsanpham/{{this.idProduct}}'>
                        <img src={{this.imageList}} 
                            alt="banner" class="img-reponsive" style="height: 45%;  width: 100%; margin:10px">
                        <span class="name">{{this.name}}</span>
                        <span class="packingForm">{{this.packingForm}}</span>
                        <span class="price">{{{changeNumber this.salePrice}}}đ/Hộp</span>
                        <form action='/themgiohang' id='form-login' method='POST'>
                            <input  type="hidden"  name="quality" value=1
                                                class="form-control" >
                            <input  type="hidden"  name="idProduct" value={{this.idProduct}}
                                                class="form-control" >
                            <input  type="hidden"  name="status" value=1
                                                class="form-control" >
                            <input  type="hidden"  name="salePrice" value={{this.salePrice}}
                                                class="form-control" >
                            <input  type='submit' class="btnAddCart" value='Thêm vào giỏ hàng'/>
                        </form>
                    </a>
                {{/each}}
                <div class='Error'>
                    {{#if messages.success}}
                        <input id="change-success" value="success" type="hidden" >
                        </input>
                    {{/if}}
                </div>
                
                 
            </div>
        </div>
        <div class="footer">
            <div class="item_footer">
                 <span class="title">Hỗ trợ khách hàng</span>
                 <span class="item">Hotline: 1900-6821</span>
                 <span class="item">Các câu hỏi thường gặp</span>
                 <span class="item">Gửi yêu cầu hỗ trợ</span>
                 <span class="item">Phương thức vận chuyển</span>
                 <span class="item">Chính sách đổi trả</span>
                 <span class="item">Chính sách hàng nhập khẩu</span>
                 <span class="item">Gửi yêu cầu hỗ trợ</span>
            </div>
             <div class="item_footer">
                 <span class="title">Về LenPharmacy </span>
                 <span class="item">Giới thiệu LenPharmacy</span>
                 <span class="item">LenPharmacy Blog</span>
                 <span class="item">Tuyển dụng</span>
                 <span class="item">Chính sách bảo mật thanh toán</span>
                 <span class="item">Chính sách bảo mật thông tin cá nhân</span>
                 <span class="item">Chính sách giải quyết khiếu nại</span>
                 <span class="item">Điều khoản sử dụng</span>
                 <span class="item">Tiếp thị liên kết cùng LenPharmacy</span>
                 <span class="item">Điều kiện vận chuyển</span>
            </div>
             <div class="item_footer" style=" width: 23%; margin-left:20px">
                 <span class="title">Phương thức thanh toán</span>

                 <div class="thanhtoan">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/visa.png' 
                        alt="banner" class="img-reponsive" style="height: 20px;  width: 40px; margin-right:20px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/master.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 40px; margin-right:20px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/jcb.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 40px; margin-right:20px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/atm.png' 
                        alt="banner" class="img-reponsive" style="height: 25px;  width: 40px; margin-right:20px">
                 </div>

                <div class="thanhtoan">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/viettel.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:25px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/momo.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 35px; margin-right:20px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/zalopay.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 35px; margin-right:25px">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/tienmat.png' 
                        alt="banner" class="img-reponsive" style="height: 30px;  width: 40px; margin-right:20px">
                 </div>
                 

            </div>
             <div class="item_footer">
                 <span class="title">Kết nối với chúng tôi</span>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/facebook.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Facebook</span>
                </div>
                <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/youtube.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Youtube</span>
                </div>
                   <div class="ketnoi">
                    <img src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/zalo.png' 
                        alt="banner" class="img-reponsive" style="height: 40px;  width: 40px; margin-right:10px">
                    <span class="">Zalo</span>
                </div>
            </div>

        </div>
        <div class="footer_address">
            <span class="title">Công Ty Cổ Phần Dược Phẩm LenPharmacy</span>

            <span class="">Trụ sở: 12 Nguyễn Văn Bảo, P.4, Q.Gò Vấp, TP.Hồ Chí Minh.</span>
            <span class="title">Điện thoại: 1800 6821. Email:cskh@lenpharmacity.vn</span>

            <span class="">GPDKKD: 0311770883</span>
            <span class="title">do sở KH & ĐT TP.HCM cấp lần đầu ngày 05/05/2012, đăng ký thay đổi lần thứ: 49, ngày 20/01/2018.</span>

        </div>


           
        
    </div>
        
 </div>
        
        

<script>
const actualBtn = document.getElementById('actual-btn');
const fileChosen = document.getElementById('file-chosen');

actualBtn.addEventListener('change', function(){
  fileChosen.textContent = this.files[0].name;
 let themType = `<input type='submit' class='btnDoiAnh' value='Lưu' />`;
 $('#div_btn_save_avatar').append(themType);
})

</script>

<script>
$(document).ready(function () { myFunction(); });
function myFunction() {
    if(document.getElementById("change-success").value){
        customAlertAdd.alert('Thêm vào giỏ hàng thành công!' )
    }
    
} 
function CustomAlertAdd(){
  this.alert = function(message,title){
    document.body.innerHTML = document.body.innerHTML + '<div id="dialogoverlay"></div><div id="dialogbox" class="slit-in-vertical"><div><div id="dialogboxhead"></div><div id="dialogboxbody"></div><div id="dialogboxfoot"></div></div></div>';

    let dialogoverlay = document.getElementById('dialogoverlay');
    let dialogbox = document.getElementById('dialogbox');
    
    let winH = window.innerHeight;
    dialogoverlay.style.height = winH+"px";
    
    dialogbox.style.top = "100px";

    dialogoverlay.style.display = "block";
    dialogbox.style.display = "block";
    
    document.getElementById('dialogboxhead').style.display = 'block';

    if(typeof title === 'undefined') {
      document.getElementById('dialogboxhead').style.display = 'none';
    } else {
      document.getElementById('dialogboxhead').innerHTML = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i> '+ title;
    }
    document.getElementById('dialogboxbody').innerHTML = message;
    {{!-- document.getElementById('dialogboxfoot').innerHTML = '<button class="pure-material-button-contained active" onclick="customAlert.ok()">OK</button>'; --}}
  }
  
  this.ok = function(){
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
  }

  setTimeout(function() {  
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
    }, 1000);
}

let customAlertAdd = new CustomAlertAdd();
</script>
