<div class="quanlydonhangds">
{{!-- Nhân viên --}}
            {{>menubarnv}}

         <div class="home-header-main">
                {{>header}}
            <div class="main-home-nv ">
                <div class="title_chucnang">
                    <i class='fa fa-newspaper-o'></i>
                    <p>Quản lý đơn hàng</p>
                </div>
                <div class="line" ></div>
                <div id="menu1" class="container tab-pane active div-table-list"><br />
                    <form action="">
                        <div class="card mb-4">
                            <div class="card-body">
                                <table class="table table-bordered" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã đơn hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Tổng số sản phẩm</th>
                                            <th>Tổng tiền</th>
                                            <th>Ngày thanh toán</th>
                                            <th>Phương thức thanh toán</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {{#each array}}
                                        <tr>
                                            <td>{{sum @index 1}}</td>
                                            <td>{{this.idOrderDetail}}</td>
                                            <td>Khách lẻ</td>
                                            <td>{{this.totalQuality}}</td>
                                            <td style="color: #3871C1;">{{{changeNumber this.totalMoney}}}</td>
                                            <td>{{{changeNgay this.time}}}</td>
                                            <td>{{this.paymentType}}</td>
                                            <td style="color: green;">Đã thanh toán</td>
                                            <td>
                                                <a href="/quanly/xemchitietdonhang/{{this.idOrderDetail}}"  class="btn btn-info">Xem chi tiết</a>
                                                
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>

 </div>
        
        
