<div class="taodonhang">
{{!-- Nhân viên --}}
            {{>menubarnv}}

         <div class="home-header-main">
                {{>header}}
            <div class="main-home-nv">
                <div class="title_chucnang">
                    <i class='fa fa-calendar-plus-o'></i>
                    <p>Tạo đơn hàng</p>
                </div>
               <div class="line" ></div>
               <div class="body">
                    <div id="menu1" class="container tab-pane active div-table-list"><br />
                        <form action="/quanly/taodonhang" id='form-login' method='POST' style="display: flex; flex-direction: column;">
                        
                            <div class="card mb-4">
                                <div class="card-body">
                                    <table class="table table-bordered" id="table_id">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Mã thuốc</th>
                                                <th>Tên thuốc</th>
                                                <th>Số lượng tồn</th>
                                                <th >Nhập số lượng</th>
                                                <th>Giá bán</th>
                                                <th>VAT (%)</th>
                                                <th>Ngày hết hạn</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each array}}
                                           
                                            <tr {{#if (isExpires this.expiryDate)}} style="color: red; background-color: #F7F7F8;"{{/if}} {{#if (isQuality (differenceTwoNumber this.quality  this.sold))}} style="color: red; background-color: #F7F7F8;"{{/if}}>
                                                <td>{{sum @index 1}}</td>
                                                <td><input type="hidden" name="idProduct"  value="{{this.idProduct}}" class="form-control">{{this.idProduct}}</td>
                                                <td><input type="hidden" name="salePrice"  value="{{this.salePrice}}" class="form-control">{{this.name}}</td>
                                                <td>{{{differenceTwoNumber this.quality  this.sold}}}</td>
                                                <th><input name='soluong' type="number" style="width: 80px;" min="1" max="{{{differenceTwoNumber this.quality  this.sold}}}" {{#if (isExpires this.expiryDate)}} style="background-color: #cccccc;" readonly{{/if}} {{#if (isQuality (differenceTwoNumber this.quality  this.sold))}} style="background-color: #cccccc;" readonly{{/if}}></th>
                                                <td>{{{changeNumber this.salePrice}}}</td>
                                                <td>0</td>
                                                <td>{{ this.expiryDate}}</td>
                                            </tr>

                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class='Error'>
                                {{#if messages.error}}
                                <p style='color:red'>
                                    {{messages.error}}
                                </p>
                                {{/if}}
                            </div>
                            <div class="div_btnTaoDon">
                                <input
                                    type='submit'
                                    class='button btnTaoDon'
                                    value='TẠO ĐƠN HÀNG'
                                />
                            </div>
                         
                        </form>
                    </div>
                    <div class="tinhtien">
                        <div class="header_tinhtien">
                            <div class="name_duocsi">
                                <i class="fa fa-user" aria-hidden="true" style="font-size: 20px; color:black;"></i>
                                <p style="margin-left: 5px;">{{fullname}}</p>
                            </div>
                            <div class="name_duocsi">
                                <span >{{{changeNgay dateNow}}}</span>
                                <span style="margin-left: 5px;">{{h}} : {{m}}</span>
                            </div>
                        </div>
                        <div class="body_tinhtien">
                            <div class="item_body" style="font-weight: 700;">
                                <span >Danh sách sản phẩm</span>
                                <span >SLSP: {{sumQuality}}</span>
                            </div>
                            <div class="lineLeft"></div>
                            <div class="item_body" style="color:#3871C1;font-weight: 600;">
                                 <span style="width: 48%;">Tên sản phẩm</span>
                                 <span style="width: 23%;align-self: center;justify-self: center;">Đơn giá</span>
                                 <span style="width: 30%;">Số lượng</span>
                            </div>
                            <div class="item_body_list">
                                {{#each arrayNew}}
                                <div class="list_item_body" >
                                    <span style="width: 50%; " >{{this.nameProduct}}</span>
                                    <span style="width: 25%; justify-self:end;justify-self: center; ">{{changeNumber this.salePrice}}</span>
                                    <span style="width: 25%;padding-left:20px">{{this.quality}}</span>
                                </div>
                                {{/each}}
                              </div>
                            <div class="line"></div>
                             <div class="item_body">
                                 <span style="font-weight: 600;">Tổng tiền</span>
                                 <span style="font-weight: 600;" >{{changeNumber sumPrice}}</span>
                            </div>
                        </div>
                        <div class="footer_tinhtien">
                            {{#if sumQuality}}
                                <a class="btnThanhToan"  href="/quanly/chitietdonhang">THANH TOÁN</a>
                            {{else}}
                                <a class="btnThanhToanNull"  href="">THANH TOÁN</a>
                            {{/if}}
                            <a class="btnThanhToan" style="background-color: red;">HUỶ</a>
                        </div>
                       
                    </div>
                    <div class='Error'>
                    {{#if messages.success}}
                        <input id="change-success" value="success" type="hidden" >
                        </input>
                    {{/if}}
                    {{#if messages.error}}
                        <input id="change-error" value="error" type="hidden" >
                        </input>
                    {{/if}}
                    </div>
               </div>
              
            </div>
        </div>

 </div>
        

<script>
const actualBtn = document.getElementById('actual-btn');
const fileChosen = document.getElementById('file-chosen');

actualBtn.addEventListener('change', function(){
  fileChosen.textContent = this.files[0].name;
 let themType = `<input type='submit' class='btnDoiAnh' value='Lưu' />`;
 $('#div_btn_save_avatar').append(themType);
})

</script>

<script>
$(document).ready(function () { myFunction(); });
function myFunction() {
    if(document.getElementById("change-success").value){
        customAlert.alert('Thanh toán đơn hàng thành công!' )
    }
     if(document.getElementById("change-error").value){
        customAlert.alert('Chưa chọn sản phẩm thanh toán!' )
    }
    
} 
function CustomAlert(){
  this.alert = function(message,title){
    document.body.innerHTML = document.body.innerHTML + '<div id="dialogoverlay"></div><div id="dialogbox" class="slit-in-vertical"><div><div id="dialogboxhead"></div><div id="dialogboxbody"></div><div id="dialogboxfoot"></div></div></div>';

    let dialogoverlay = document.getElementById('dialogoverlay');
    let dialogbox = document.getElementById('dialogbox');
    
    let winH = window.innerHeight;
    dialogoverlay.style.height = winH+"px";
    
    dialogbox.style.top = "100px";

    dialogoverlay.style.display = "block";
    dialogbox.style.display = "block";
    
    document.getElementById('dialogboxhead').style.display = 'block';

    if(typeof title === 'undefined') {
      document.getElementById('dialogboxhead').style.display = 'none';
    } else {
      document.getElementById('dialogboxhead').innerHTML = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i> '+ title;
    }
    document.getElementById('dialogboxbody').innerHTML = message;
    {{!-- document.getElementById('dialogboxfoot').innerHTML = '<button class="pure-material-button-contained active" onclick="customAlert.ok()">OK</button>'; --}}
  }
  
  this.ok = function(){
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
  }

  setTimeout(function() {  
    document.getElementById('dialogbox').style.display = "none";
    document.getElementById('dialogoverlay').style.display = "none";
    }, 2000);
}

let customAlert = new CustomAlert();
</script>

        
