<div class="xemthongtincanhands">
{{!-- Nhân viên --}}
            {{>menubarnv}}

         <div class="home-header-main">
                {{>header}}
            <div class="main-home-nv ">
                <div class="title_chucnang">
                    <i class='fa fa-id-badge'></i>
                    <p>Xem thông tin cá nhân</p>
                </div>
                <div class="line" ></div>
                {{!-- <div class="main-home ">
                     <div class="main_body ">
                        <div class="header_thongtin">
                            <img
                                src='https://babycaredoan.s3.ap-southeast-1.amazonaws.com/test/bg.png'
                                style='height: 100%; width:100%; border-top-left-radius: 10px;border-top-right-radius: 10px;'
                                />
                            <div class="div_info">
                                <img
                                    src={{avatar}}
                                    class="avatar_info"
                                    />
                                    <span>{{fullname}}</span>
                            </div>
                            

                        </div>
                        <div class="body_thongtin">
                            <div class="item_left">
                                <span>Mã số nhân viên: <span>{{array.idEmployee}}</span></span>
                                <span>Họ và tên: <span>{{array.name}}</span></span>
                                <span>Tên đăng nhập: <span>{{username}}</span></span>
                                <span>Ngày sinh: <span>{{array.dateOfBirth}}</span></span>
                                <span>Giới tính: <span>{{array.gender}}</span></span>
                                

                            </div>
                            <div class="item_right">
                                <span>Chức vụ: <span>{{array.position}}</span></span>
                                <span>Số điện thoại: <span>{{array.phoneNumber}}</span></span>
                                <span>Email: <span>{{array.email}}</span></span>
                                <span>Ngày bắt đầu làm việc: <span>{{array.dateStartWork}}</span></span>
                                <span>Địa chỉ: <span>{{array.address}}</span></span>
                            </div>

                        </div>
                    
                    </div>
                </div> --}}

                <div class="main-home ">
                     <div class="main_body ">
                        <div class="body_thongtin">
                            <div class="div_info">
                                <img
                                    src={{avatar}}
                                    class="avatar_info"
                                    />
                                <span>{{fullname}}</span>
                            </div>
                            <div class="item_left">
                                <span>Mã số nhân viên: <span style="color: #3871C1;font-weight: 700;">{{array.idEmployee}}</span></span>
                                <span>Họ và tên: <span  style="color: #3871C1;font-weight: 700;">{{array.name}}</span></span>
                                <span>Tên đăng nhập: <span  style="color: #3871C1;font-weight: 700;">{{username}}</span></span>
                                <span>Ngày sinh: <span  style="color: #3871C1;font-weight: 700;">{{array.dateOfBirth}}</span></span>
                                <span>Giới tính: <span  style="color: #3871C1;font-weight: 700;">{{array.gender}}</span></span>
                                

                            </div>
                            <div class="item_right">
                                <span>Chức vụ: <span  style="color: #3871C1;font-weight: 700;">{{array.position}}</span></span>
                                <span>Số điện thoại: <span  style="color: #3871C1;font-weight: 700;">{{array.phoneNumber}}</span></span>
                                <span>Email: <span  style="color: #3871C1;font-weight: 700;">{{array.email}}</span></span>
                                <span>Ngày bắt đầu làm việc: <span  style="color: #3871C1;font-weight: 700;">{{array.dateStartWork}}</span></span>
                                <span>Địa chỉ: <span  style="color: #3871C1;font-weight: 700;">{{array.address}}</span></span>
                            </div>

                        </div>
                    
                    </div>
                </div>
            </div>
        </div>

 </div>
        
        
